<div class="row ng-scope">
    <div class="col-md-4">
      <div class="banner-community" style="background-image: url('<%= cl_image_path "https://res.cloudinary.com/mathildepfr/image/upload/v1630549317/Illustration_Rat_pdqjxd.jpg"%>')">
      </div>
      <div class="text-community"><p>Welcome in <br> our community of <strong>rats</strong> !</p></div>
    </div>
    <div class="col-md-8 col-rat">
            <% @rats.each do |rat| %>
              <div class="container-rat-profile-index">
                  <% if rat.photo.attached? %>
                      <div class="card-rat-img-profile-index" style="background-image: url('<%= cl_image_path rat.photo.key, height: 300, crop: :fill %>')"></div>
                  <% else %>
                      <div class="card-rat-img-profile-index" style="background-image: url('<%= image_tag 'ratlogo.png', height: 300, crop: :fill %>')"></div>
                  <% end %>
                  <div class="card-rat-text-profile">
                  <%= link_to rat_path(rat) do %>
                    <h3><%= rat.first_name %> <%= rat.last_name %></h3>
                  <% end %>
                    <p><%= rat.email %></p>
                    <div class="count-btn">
                      <h4 class="value3 mt-sm"><i class="fab fa-redhat"></i> <%= rat.hats.count %></h4>
                      <a class="btn btn-primary" href="<%= rat_path(rat) %>">See More</a>
                    </div>
                  </div>
              </div>
            <% end %>
    </div>
</div>
