<div class="banner-community" style="background-image: url('https://1.bp.blogspot.com/-nFDtnTICHQw/WR5gqXdARbI/AAAAAAAAABk/widN9Lkj5yEDozXVgd4lfOtpEWoWQsRHgCLcB/s1600/c.jpg')">
  <h1>Our community of <strong>rats</strong> !</h1>
</div>

<div class="container-rat">
  <div class="container-rat-card">
      <% @rats.each do |rat| %>
        <div class="container-rat-card-profile">
          <div class="card-rat" style="background-image: url('<%= cl_image_path rat.photo.key, height: 300, crop: :fill %>')">
          </div>
          <div class="rat-name">
            <h2><%= link_to rat.first_name , rat_path(rat) %> <%= rat.last_name %></h2>
            <h2><i class="fab fa-redhat"></i> <%= rat.hats.count %></h2>
          </div>
        </div>
      <% end %>
  </div>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
